Source: x11-touchscreen-calibrator
Section: x11
Priority: optional
Maintainer: Shih-Yuan Lee (FourDollars) <fourdollars@gmail.com>
Build-Depends:
    autotools-dev,
    debhelper (>= 9),
    libx11-dev,
    libxi-dev,
    libxrandr-dev,
    pkg-config,
    x11proto-input-dev
Standards-Version: 3.9.6
Homepage: http://fourdollars.github.io/x11-touchscreen-calibrator/
Vcs-Browser: https://github.com/fourdollars/x11-touchscreen-calibrator
Vcs-Git: git://github.com/fourdollars/x11-touchscreen-calibrator.git

Package: x11-touchscreen-calibrator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X Window System's Touchscreen Calibrator
 The purpose is to calibrate the touchscreen's coordinates automatically.
 .
 Install this package and it will run automatically in the background of X
 Window System.
